USE [master]
GO
/****** Object:  Database [sustainability]    Script Date: 11/17/2025 10:20:45 AM ******/
CREATE DATABASE [sustainability]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sustainability', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\sustainability.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sustainability_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\sustainability_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sustainability].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sustainability]
GO
/****** Object:  Table [dbo].[Emission_Record]    Script Date: 11/17/2025 10:20:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emission_Record](
	[EmissionRecord_ID] [int] IDENTITY(1,1) NOT NULL,
	[EmissionSource_ID] [int] NOT NULL,
	[Factory_ID] [int] NOT NULL,
	[User_ID] [int] NOT NULL,
	[Organization_ID] [int] NOT NULL,
	[Emission_Year] [int] NOT NULL,
	[Emission_Month] [int] NOT NULL,
	[Emission_Quantity] [decimal](18, 4) NULL,
	[Emission_CreatedAt] [datetime] NULL,
	[Emission_UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmissionRecord_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Emission_Source]    Script Date: 11/17/2025 10:20:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emission_Source](
	[EmissionSource_ID] [int] IDENTITY(1,1) NOT NULL,
	[EmissionSource_Name] [nvarchar](150) NOT NULL,
	[EmissionSource_Description] [nvarchar](255) NULL,
	[EmissionSource_Period] [nvarchar](50) NULL,
	[EmissionSource_Scope] [nvarchar](50) NULL,
	[EmissionSource_Unit] [nvarchar](50) NULL,
	[EmissionSource_EmissionFactor] [decimal](18, 6) NULL,
	[EmissionSource_Formula] [nvarchar](255) NULL,
	[EmissionSource_IsActive] [bit] NULL,
	[EmissionSource_IsRequested] [bit] NULL,
	[EmissionSource_RequestedAt] [datetime] NULL,
	[EmissionSource_RequestStatus] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmissionSource_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factory]    Script Date: 11/17/2025 10:20:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factory](
	[Factory_ID] [int] IDENTITY(1,1) NOT NULL,
	[Organization_ID] [int] NOT NULL,
	[Factory_Name] [nvarchar](150) NOT NULL,
	[Factory_Code] [nvarchar](50) NOT NULL,
	[Factory_Location] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[Factory_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Goal]    Script Date: 11/17/2025 10:20:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goal](
	[Goal_ID] [int] IDENTITY(1,1) NOT NULL,
	[Organization_ID] [int] NOT NULL,
	[User_ID] [int] NOT NULL,
	[EmissionSource_ID] [int] NOT NULL,
	[Goal_Title] [nvarchar](150) NOT NULL,
	[Goal_Description] [nvarchar](255) NULL,
	[Goal_Status] [nvarchar](50) NULL,
	[Goal_GoalValue] [decimal](18, 2) NULL,
	[Goal_GoalPeriod] [nvarchar](50) NULL,
	[Goal_GoalStartDate] [date] NULL,
	[Goal_GoalEndDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Goal_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invitation]    Script Date: 11/17/2025 10:20:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invitation](
	[Invitation_ID] [int] IDENTITY(1,1) NOT NULL,
	[Organization_ID] [int] NOT NULL,
	[Role_ID] [int] NOT NULL,
	[Factory_ID] [int] NULL,
	[User_ID] [int] NULL,
	[Invited_Email] [nvarchar](150) NOT NULL,
	[Invitation_Status] [nvarchar](50) NULL,
	[Invitation_SentAt] [datetime] NULL,
	[Invitation_AcceptedAt] [datetime] NULL,
	[Invitation_Expiration] [datetime] NULL,
	[Invitation_Token] [nvarchar](200) NULL,
 CONSTRAINT [PK__Invitati__41C0DCC53688D569] PRIMARY KEY CLUSTERED 
(
	[Invitation_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 11/17/2025 10:20:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[Invoice_ID] [int] IDENTITY(1,1) NOT NULL,
	[Subscription_ID] [int] NOT NULL,
	[Invoice_Total_Amount] [decimal](10, 2) NOT NULL,
	[Invoice_Date] [date] NOT NULL,
	[Invoice_Time] [time](7) NOT NULL,
	[Invoice_Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Invoice_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organization]    Script Date: 11/17/2025 10:20:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organization](
	[Organization_ID] [int] IDENTITY(1,1) NOT NULL,
	[Organization_Name] [nvarchar](150) NOT NULL,
	[Organization_Industry] [nvarchar](100) NULL,
	[Organization_City] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Organization_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 11/17/2025 10:20:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[Payment_ID] [int] IDENTITY(1,1) NOT NULL,
	[Invoice_ID] [int] NOT NULL,
	[Payment_Amount] [decimal](10, 2) NOT NULL,
	[Payment_Date] [date] NOT NULL,
	[Payment_Time] [time](7) NOT NULL,
	[Payment_Status] [nvarchar](50) NULL,
	[Payment_Method] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Payment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 11/17/2025 10:20:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Role_ID] [int] IDENTITY(1,1) NOT NULL,
	[Role_Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscription]    Script Date: 11/17/2025 10:20:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscription](
	[Subscription_ID] [int] IDENTITY(1,1) NOT NULL,
	[Organization_ID] [int] NOT NULL,
	[SubscriptionPlan_ID] [int] NOT NULL,
	[Subscription_StartDate] [date] NOT NULL,
	[Subscription_EndDate] [date] NULL,
	[Subscription_Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Subscription_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubscriptionPlan]    Script Date: 11/17/2025 10:20:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubscriptionPlan](
	[SubscriptionPlan_ID] [int] IDENTITY(1,1) NOT NULL,
	[SubscriptionPlan_Name] [nvarchar](100) NOT NULL,
	[SubscriptionPlan_Type] [nvarchar](10) NULL,
	[SubscriptionPlan_Price] [decimal](10, 2) NULL,
	[SubscriptionPlan_Description] [nvarchar](255) NULL,
	[SubscriptionPlan_Duration] [int] NULL,
	[SubscriptionPlan_UserMax] [int] NULL,
	[SubscriptionPlan_FactoryMax] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SubscriptionPlan_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/17/2025 10:20:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[Organization_ID] [int] NOT NULL,
	[Role_ID] [int] NOT NULL,
	[User_FName] [nvarchar](100) NOT NULL,
	[User_LName] [nvarchar](100) NOT NULL,
	[User_Email] [nvarchar](150) NOT NULL,
	[User_Phone] [nvarchar](20) NULL,
	[User_Status] [nvarchar](50) NULL,
	[User_Password] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Emission_Record] ON 

INSERT [dbo].[Emission_Record] ([EmissionRecord_ID], [EmissionSource_ID], [Factory_ID], [User_ID], [Organization_ID], [Emission_Year], [Emission_Month], [Emission_Quantity], [Emission_CreatedAt], [Emission_UpdatedAt]) VALUES (1, 10, 1, 1, 1, 2024, 9, CAST(5.0000 AS Decimal(18, 4)), CAST(N'2025-11-12T13:20:13.287' AS DateTime), CAST(N'2025-11-12T14:19:10.657' AS DateTime))
INSERT [dbo].[Emission_Record] ([EmissionRecord_ID], [EmissionSource_ID], [Factory_ID], [User_ID], [Organization_ID], [Emission_Year], [Emission_Month], [Emission_Quantity], [Emission_CreatedAt], [Emission_UpdatedAt]) VALUES (2, 10, 1, 1, 1, 2025, 11, CAST(45.0000 AS Decimal(18, 4)), CAST(N'2025-11-12T13:21:08.537' AS DateTime), CAST(N'2025-11-12T13:31:23.120' AS DateTime))
INSERT [dbo].[Emission_Record] ([EmissionRecord_ID], [EmissionSource_ID], [Factory_ID], [User_ID], [Organization_ID], [Emission_Year], [Emission_Month], [Emission_Quantity], [Emission_CreatedAt], [Emission_UpdatedAt]) VALUES (3, 12, 1, 2, 1, 2025, 8, CAST(32.0000 AS Decimal(18, 4)), CAST(N'2025-11-16T10:37:43.397' AS DateTime), CAST(N'2025-11-16T10:37:43.397' AS DateTime))
SET IDENTITY_INSERT [dbo].[Emission_Record] OFF
GO
SET IDENTITY_INSERT [dbo].[Emission_Source] ON 

INSERT [dbo].[Emission_Source] ([EmissionSource_ID], [EmissionSource_Name], [EmissionSource_Description], [EmissionSource_Period], [EmissionSource_Scope], [EmissionSource_Unit], [EmissionSource_EmissionFactor], [EmissionSource_Formula], [EmissionSource_IsActive], [EmissionSource_IsRequested], [EmissionSource_RequestedAt], [EmissionSource_RequestStatus]) VALUES (10, N'Diesel Consumption', N'Activity data for fuel combustion', N'Monthly', N'1', N'L', CAST(2.676492 AS Decimal(18, 6)), N'Quantity * Factor / 1000', 1, 0, NULL, N'approved')
INSERT [dbo].[Emission_Source] ([EmissionSource_ID], [EmissionSource_Name], [EmissionSource_Description], [EmissionSource_Period], [EmissionSource_Scope], [EmissionSource_Unit], [EmissionSource_EmissionFactor], [EmissionSource_Formula], [EmissionSource_IsActive], [EmissionSource_IsRequested], [EmissionSource_RequestedAt], [EmissionSource_RequestStatus]) VALUES (11, N'Crude/Fuel Oil Consumption', N'Additional fuel activity', N'Monthly', N'1', N'L', CAST(2.271793 AS Decimal(18, 6)), N'Quantity * Factor / 1000', 1, 0, NULL, N'approved')
INSERT [dbo].[Emission_Source] ([EmissionSource_ID], [EmissionSource_Name], [EmissionSource_Description], [EmissionSource_Period], [EmissionSource_Scope], [EmissionSource_Unit], [EmissionSource_EmissionFactor], [EmissionSource_Formula], [EmissionSource_IsActive], [EmissionSource_IsRequested], [EmissionSource_RequestedAt], [EmissionSource_RequestStatus]) VALUES (12, N'LPG/Gas Consumption', N'Fuel for operations', N'Monthly', N'1', N'kg', CAST(1.611700 AS Decimal(18, 6)), N'Quantity * Factor / 1000', 1, 0, NULL, N'approved')
SET IDENTITY_INSERT [dbo].[Emission_Source] OFF
GO
SET IDENTITY_INSERT [dbo].[Factory] ON 

INSERT [dbo].[Factory] ([Factory_ID], [Organization_ID], [Factory_Name], [Factory_Code], [Factory_Location]) VALUES (1, 1, N'Green Future Factory 1', N'GF001', N'Riyadh Industrial Area')
INSERT [dbo].[Factory] ([Factory_ID], [Organization_ID], [Factory_Name], [Factory_Code], [Factory_Location]) VALUES (2, 1, N'Green Future Factory 2', N'GF002', N'Jeddah Industrial Area')
INSERT [dbo].[Factory] ([Factory_ID], [Organization_ID], [Factory_Name], [Factory_Code], [Factory_Location]) VALUES (4, 1, N'Gretchen Wynn', N'Neque fugiat quo ma', N'Et fugiat nostrud te')
SET IDENTITY_INSERT [dbo].[Factory] OFF
GO
SET IDENTITY_INSERT [dbo].[Goal] ON 

INSERT [dbo].[Goal] ([Goal_ID], [Organization_ID], [User_ID], [EmissionSource_ID], [Goal_Title], [Goal_Description], [Goal_Status], [Goal_GoalValue], [Goal_GoalPeriod], [Goal_GoalStartDate], [Goal_GoalEndDate]) VALUES (1, 1, 1, 12, N'Adipisci velit aliq', N'Et eius ratione enim', N'Completed', CAST(32.00 AS Decimal(18, 2)), N'Quarterly', CAST(N'1985-12-14' AS Date), CAST(N'2007-04-23' AS Date))
INSERT [dbo].[Goal] ([Goal_ID], [Organization_ID], [User_ID], [EmissionSource_ID], [Goal_Title], [Goal_Description], [Goal_Status], [Goal_GoalValue], [Goal_GoalPeriod], [Goal_GoalStartDate], [Goal_GoalEndDate]) VALUES (2, 1, 1, 11, N'dwed', N'wedwed', N'Active', CAST(44.00 AS Decimal(18, 2)), N'Monthly', CAST(N'2025-11-11' AS Date), CAST(N'2025-12-06' AS Date))
SET IDENTITY_INSERT [dbo].[Goal] OFF
GO
SET IDENTITY_INSERT [dbo].[Invitation] ON 

INSERT [dbo].[Invitation] ([Invitation_ID], [Organization_ID], [Role_ID], [Factory_ID], [User_ID], [Invited_Email], [Invitation_Status], [Invitation_SentAt], [Invitation_AcceptedAt], [Invitation_Expiration], [Invitation_Token]) VALUES (1, 1, 2, 1, 2, N'ali.operator@greenfuture.com', N'Accepted', CAST(N'2025-11-09T11:11:37.033' AS DateTime), CAST(N'2025-11-09T11:11:37.033' AS DateTime), CAST(N'2025-11-16T11:11:37.033' AS DateTime), NULL)
INSERT [dbo].[Invitation] ([Invitation_ID], [Organization_ID], [Role_ID], [Factory_ID], [User_ID], [Invited_Email], [Invitation_Status], [Invitation_SentAt], [Invitation_AcceptedAt], [Invitation_Expiration], [Invitation_Token]) VALUES (2, 1, 2, 2, 3, N'sara.operator@greenfuture.com', N'Accepted', CAST(N'2025-11-09T11:11:37.033' AS DateTime), CAST(N'2025-11-09T11:11:37.033' AS DateTime), CAST(N'2025-11-16T11:11:37.033' AS DateTime), NULL)
INSERT [dbo].[Invitation] ([Invitation_ID], [Organization_ID], [Role_ID], [Factory_ID], [User_ID], [Invited_Email], [Invitation_Status], [Invitation_SentAt], [Invitation_AcceptedAt], [Invitation_Expiration], [Invitation_Token]) VALUES (3, 1, 1, NULL, 1, N'omar.officer@greenfuture.com', N'Accepted', CAST(N'2025-11-09T11:11:37.033' AS DateTime), CAST(N'2025-11-09T11:11:37.033' AS DateTime), CAST(N'2025-11-16T11:11:37.033' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Invitation] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoice] ON 

INSERT [dbo].[Invoice] ([Invoice_ID], [Subscription_ID], [Invoice_Total_Amount], [Invoice_Date], [Invoice_Time], [Invoice_Status]) VALUES (1, 1, CAST(0.00 AS Decimal(10, 2)), CAST(N'2025-11-09' AS Date), CAST(N'11:20:01.1000000' AS Time), N'Paid')
INSERT [dbo].[Invoice] ([Invoice_ID], [Subscription_ID], [Invoice_Total_Amount], [Invoice_Date], [Invoice_Time], [Invoice_Status]) VALUES (2, 4, CAST(12000.00 AS Decimal(10, 2)), CAST(N'2025-11-09' AS Date), CAST(N'11:51:07' AS Time), N'Paid')
INSERT [dbo].[Invoice] ([Invoice_ID], [Subscription_ID], [Invoice_Total_Amount], [Invoice_Date], [Invoice_Time], [Invoice_Status]) VALUES (3, 5, CAST(6000.00 AS Decimal(10, 2)), CAST(N'2025-11-16' AS Date), CAST(N'08:34:14' AS Time), N'Paid')
SET IDENTITY_INSERT [dbo].[Invoice] OFF
GO
SET IDENTITY_INSERT [dbo].[Organization] ON 

INSERT [dbo].[Organization] ([Organization_ID], [Organization_Name], [Organization_Industry], [Organization_City]) VALUES (1, N'Green Future Co.', N'Manufacturing', N'Riyadh')
INSERT [dbo].[Organization] ([Organization_ID], [Organization_Name], [Organization_Industry], [Organization_City]) VALUES (3, N'Goodman Beach Co', N'Petrochemicals', N'Riyadh')
INSERT [dbo].[Organization] ([Organization_ID], [Organization_Name], [Organization_Industry], [Organization_City]) VALUES (4, N'wsdfasdf', N'Manufacturing', N'Jeddah')
SET IDENTITY_INSERT [dbo].[Organization] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([Payment_ID], [Invoice_ID], [Payment_Amount], [Payment_Date], [Payment_Time], [Payment_Status], [Payment_Method]) VALUES (1, 1, CAST(0.00 AS Decimal(10, 2)), CAST(N'2025-11-09' AS Date), CAST(N'11:20:01.1133333' AS Time), N'Completed', N'Free Trial')
INSERT [dbo].[Payment] ([Payment_ID], [Invoice_ID], [Payment_Amount], [Payment_Date], [Payment_Time], [Payment_Status], [Payment_Method]) VALUES (2, 2, CAST(12000.00 AS Decimal(10, 2)), CAST(N'2025-11-09' AS Date), CAST(N'11:51:07' AS Time), N'Completed', N'Credit Card')
INSERT [dbo].[Payment] ([Payment_ID], [Invoice_ID], [Payment_Amount], [Payment_Date], [Payment_Time], [Payment_Status], [Payment_Method]) VALUES (3, 3, CAST(6000.00 AS Decimal(10, 2)), CAST(N'2025-11-16' AS Date), CAST(N'08:34:14' AS Time), N'Completed', N'Credit Card')
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Role_ID], [Role_Name]) VALUES (1, N'Sustainability Officer')
INSERT [dbo].[Role] ([Role_ID], [Role_Name]) VALUES (2, N'Factory Operator')
INSERT [dbo].[Role] ([Role_ID], [Role_Name]) VALUES (3, N'Administrator')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Subscription] ON 

INSERT [dbo].[Subscription] ([Subscription_ID], [Organization_ID], [SubscriptionPlan_ID], [Subscription_StartDate], [Subscription_EndDate], [Subscription_Status]) VALUES (1, 1, 1, CAST(N'2025-11-09' AS Date), CAST(N'2026-01-09' AS Date), N'Expired')
INSERT [dbo].[Subscription] ([Subscription_ID], [Organization_ID], [SubscriptionPlan_ID], [Subscription_StartDate], [Subscription_EndDate], [Subscription_Status]) VALUES (3, 3, 1, CAST(N'2025-11-09' AS Date), CAST(N'2026-11-09' AS Date), N'Active')
INSERT [dbo].[Subscription] ([Subscription_ID], [Organization_ID], [SubscriptionPlan_ID], [Subscription_StartDate], [Subscription_EndDate], [Subscription_Status]) VALUES (4, 4, 4, CAST(N'2025-11-09' AS Date), CAST(N'2026-11-09' AS Date), N'Active')
SET IDENTITY_INSERT [dbo].[Subscription] OFF
GO
SET IDENTITY_INSERT [dbo].[SubscriptionPlan] ON 

INSERT [dbo].[SubscriptionPlan] ([SubscriptionPlan_ID], [SubscriptionPlan_Name], [SubscriptionPlan_Type], [SubscriptionPlan_Price], [SubscriptionPlan_Description], [SubscriptionPlan_Duration], [SubscriptionPlan_UserMax], [SubscriptionPlan_FactoryMax]) VALUES (1, N'Free Trial', N'trial', CAST(0.00 AS Decimal(10, 2)), N'2-month free access to all system features with limited user/factory count.', 2, 5, 5)
INSERT [dbo].[SubscriptionPlan] ([SubscriptionPlan_ID], [SubscriptionPlan_Name], [SubscriptionPlan_Type], [SubscriptionPlan_Price], [SubscriptionPlan_Description], [SubscriptionPlan_Duration], [SubscriptionPlan_UserMax], [SubscriptionPlan_FactoryMax]) VALUES (2, N'Small', N'paid', CAST(3000.00 AS Decimal(10, 2)), N'Yearly plan suitable for small organizations (up to 5 users, 2 factories).', 12, 5, 2)
INSERT [dbo].[SubscriptionPlan] ([SubscriptionPlan_ID], [SubscriptionPlan_Name], [SubscriptionPlan_Type], [SubscriptionPlan_Price], [SubscriptionPlan_Description], [SubscriptionPlan_Duration], [SubscriptionPlan_UserMax], [SubscriptionPlan_FactoryMax]) VALUES (3, N'Medium', N'paid', CAST(6000.00 AS Decimal(10, 2)), N'Yearly plan suitable for medium organizations (up to 15 users, 5 factories).', 12, 15, 5)
SET IDENTITY_INSERT [dbo].[SubscriptionPlan] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([User_ID], [Organization_ID], [Role_ID], [User_FName], [User_LName], [User_Email], [User_Phone], [User_Status], [User_Password]) VALUES (1, 1, 3, N'Admin', N'User', N'admin@greenfuture.com', N'0500000001', N'Active', N'$2y$10$aKhNNNXlP3R96DfwJdPTn.ew6scWdg2tSCSUUNwGzaP/SRpqOEtCG')
INSERT [dbo].[User] ([User_ID], [Organization_ID], [Role_ID], [User_FName], [User_LName], [User_Email], [User_Phone], [User_Status], [User_Password]) VALUES (2, 1, 2, N'Ali444', N'Hassan', N'ali.operator@greenfuture.com', N'0500000002', N'Active', N'$2y$10$aKhNNNXlP3R96DfwJdPTn.ew6scWdg2tSCSUUNwGzaP/SRpqOEtCG')
INSERT [dbo].[User] ([User_ID], [Organization_ID], [Role_ID], [User_FName], [User_LName], [User_Email], [User_Phone], [User_Status], [User_Password]) VALUES (3, 1, 2, N'Sara', N'Khalid', N'sara.operator@greenfuture.com', N'0500000003', N'Active', N'$2y$10$aKhNNNXlP3R96DfwJdPTn.ew6scWdg2tSCSUUNwGzaP/SRpqOEtCG')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Factory__4122ADDB2DE8A04F]    Script Date: 11/17/2025 10:20:46 AM ******/
ALTER TABLE [dbo].[Factory] ADD UNIQUE NONCLUSTERED 
(
	[Factory_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__4C70A05C889BE254]    Script Date: 11/17/2025 10:20:46 AM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[User_Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Emission_Record] ADD  DEFAULT (getdate()) FOR [Emission_CreatedAt]
GO
ALTER TABLE [dbo].[Emission_Source] ADD  DEFAULT ((1)) FOR [EmissionSource_IsActive]
GO
ALTER TABLE [dbo].[Emission_Source] ADD  DEFAULT ((0)) FOR [EmissionSource_IsRequested]
GO
ALTER TABLE [dbo].[Goal] ADD  DEFAULT ('Active') FOR [Goal_Status]
GO
ALTER TABLE [dbo].[Invitation] ADD  CONSTRAINT [DF__Invitatio__Invit__787EE5A0]  DEFAULT ('Pending') FOR [Invitation_Status]
GO
ALTER TABLE [dbo].[Invitation] ADD  CONSTRAINT [DF__Invitatio__Invit__797309D9]  DEFAULT (getdate()) FOR [Invitation_SentAt]
GO
ALTER TABLE [dbo].[Invoice] ADD  DEFAULT ('Pending') FOR [Invoice_Status]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ('Completed') FOR [Payment_Status]
GO
ALTER TABLE [dbo].[Subscription] ADD  DEFAULT ('Active') FOR [Subscription_Status]
GO
ALTER TABLE [dbo].[SubscriptionPlan] ADD  DEFAULT ((0)) FOR [SubscriptionPlan_Price]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ('Active') FOR [User_Status]
GO
ALTER TABLE [dbo].[Emission_Record]  WITH CHECK ADD FOREIGN KEY([EmissionSource_ID])
REFERENCES [dbo].[Emission_Source] ([EmissionSource_ID])
GO
ALTER TABLE [dbo].[Emission_Record]  WITH CHECK ADD FOREIGN KEY([Factory_ID])
REFERENCES [dbo].[Factory] ([Factory_ID])
GO
ALTER TABLE [dbo].[Emission_Record]  WITH CHECK ADD FOREIGN KEY([Organization_ID])
REFERENCES [dbo].[Organization] ([Organization_ID])
GO
ALTER TABLE [dbo].[Emission_Record]  WITH CHECK ADD FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Factory]  WITH CHECK ADD FOREIGN KEY([Organization_ID])
REFERENCES [dbo].[Organization] ([Organization_ID])
GO
ALTER TABLE [dbo].[Goal]  WITH CHECK ADD FOREIGN KEY([EmissionSource_ID])
REFERENCES [dbo].[Emission_Source] ([EmissionSource_ID])
GO
ALTER TABLE [dbo].[Goal]  WITH CHECK ADD FOREIGN KEY([Organization_ID])
REFERENCES [dbo].[Organization] ([Organization_ID])
GO
ALTER TABLE [dbo].[Goal]  WITH CHECK ADD FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Invitation]  WITH CHECK ADD  CONSTRAINT [FK__Invitatio__Facto__7C4F7684] FOREIGN KEY([Factory_ID])
REFERENCES [dbo].[Factory] ([Factory_ID])
GO
ALTER TABLE [dbo].[Invitation] CHECK CONSTRAINT [FK__Invitatio__Facto__7C4F7684]
GO
ALTER TABLE [dbo].[Invitation]  WITH CHECK ADD  CONSTRAINT [FK__Invitatio__Organ__7A672E12] FOREIGN KEY([Organization_ID])
REFERENCES [dbo].[Organization] ([Organization_ID])
GO
ALTER TABLE [dbo].[Invitation] CHECK CONSTRAINT [FK__Invitatio__Organ__7A672E12]
GO
ALTER TABLE [dbo].[Invitation]  WITH CHECK ADD  CONSTRAINT [FK__Invitatio__Role___7B5B524B] FOREIGN KEY([Role_ID])
REFERENCES [dbo].[Role] ([Role_ID])
GO
ALTER TABLE [dbo].[Invitation] CHECK CONSTRAINT [FK__Invitatio__Role___7B5B524B]
GO
ALTER TABLE [dbo].[Invitation]  WITH CHECK ADD  CONSTRAINT [FK__Invitatio__User___7D439ABD] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Invitation] CHECK CONSTRAINT [FK__Invitatio__User___7D439ABD]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD FOREIGN KEY([Subscription_ID])
REFERENCES [dbo].[Subscription] ([Subscription_ID])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([Invoice_ID])
REFERENCES [dbo].[Invoice] ([Invoice_ID])
GO
ALTER TABLE [dbo].[Subscription]  WITH CHECK ADD FOREIGN KEY([Organization_ID])
REFERENCES [dbo].[Organization] ([Organization_ID])
GO
ALTER TABLE [dbo].[Subscription]  WITH CHECK ADD FOREIGN KEY([SubscriptionPlan_ID])
REFERENCES [dbo].[SubscriptionPlan] ([SubscriptionPlan_ID])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([Organization_ID])
REFERENCES [dbo].[Organization] ([Organization_ID])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([Role_ID])
REFERENCES [dbo].[Role] ([Role_ID])
GO
ALTER TABLE [dbo].[SubscriptionPlan]  WITH CHECK ADD CHECK  (([SubscriptionPlan_Type]='trial' OR [SubscriptionPlan_Type]='paid'))
GO
USE [master]
GO
